name: CI
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build and test
        uses: freckle/stack-action@v5
        with:
          stack-arguments: --lock-file error-on-write
          stack-build-arguments: --fast
